/back/.idea
/back/__pycache__
/front/.angular
/back/data/settings.py
/back/venv
/back/data/*.py
back/data/__pycache__/settings.cpython-310.pyc
back/data/API/__pycache__/a_material.cpython-310.pyc
back/data/API/__pycache__/a_product.cpython-310.pyc
back/data/API/__pycache__/a_users.cpython-310.pyc
back/data/BD/__pycache__/b_material.cpython-310.pyc
back/data/BD/__pycache__/b_product.cpython-310.pyc
back/data/BD/__pycache__/b_users.cpython-310.pyc
back/data/BD/__pycache__/base.cpython-310.pyc
back/data/SCHEMAS/__pycache__/s_material.cpython-310.pyc
back/data/SCHEMAS/__pycache__/s_product.cpython-310.pyc
back/data/SCHEMAS/__pycache__/s_users.cpython-310.pyc
front/coding_rules
front/proxy.conf.json
front/src/custom-theme.css
front/src/custom-theme.scss
/back/data/BD/__pycache__/base_methods.cpython-310.pyc
/back/data/SCHEMAS/__pycache__/Material.cpython-310.pyc
/back/data/SCHEMAS/__pycache__/Users.cpython-310.pyc
