@import "../../shared/style/vars.scss";
.spisok {
  width: 100%;
  padding: 10px 0;
  height: 100%;
  overflow: auto;
  .item {
    display: flex;
    border-radius: 5px;
    border: 2px solid $violet;
    width: 100%;
    transition: .15s;
    cursor: pointer;
    // height: 75px;
    background-color: #dfdfdf;
    margin: 0 0 10px;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
    font-size: 18px;
    .name {
      font-size: 20px;
      flex: 1 1 50% !important;
    } 
    .pok {
      justify-content: flex-end;
      display: flex;
    }
    .span_container {
      flex: 1 1 16%;
    }
  }
}