<div class="wrapper">
    <h3>Создание</h3>
    <div class="vibor" *ngIf="active == ''">
        <div class="button1"
        *ngFor="let item of actions"
        (click)="actionClick(item)">
            {{item}}
        </div>
    </div>
    <div class="material" *ngIf="active == actions[0]">
        <div class="input">
            <span>Тип:</span>
            <div class="hover_cont">
                <span>{{currentPostType.name}}</span>
                <div class="hover_menu" *ngIf="currentPostType.name != 'Загрузка...'">
                    <div class="hover_item"
                    *ngFor="let item of postTypes"
                    (click)="currentPostType = item">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="input">
            <span class="span">Название</span><input type="text" id="prod_name">
        </div>
        <div class="input">
            <span class="span">email</span><input type="text" id="email">
        </div>
        <div class="input">
            <span class="span">телефон</span><input type="text" id="tel">
        </div>
        <div class="input">
            <span class="span">address</span><input type="text" id="address">
        </div>
        
    </div>
    <div class="footer">
        <div class="button1" 
        *ngIf="active != ''"
        (click)="create()">
            Создать
        </div>
        <div class="button1" 
        *ngIf="active != ''"
        (click)="goBack()">
            Назад
        </div>
        <div class="button1" 
        (click)="close.emit()">
            Закрыть
        </div>
    </div>
</div>
