.footer {
  margin: 10px 0 0;
  display: flex;
  justify-content: end;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
  align-items: center;
  span {
      margin: 0 10px 0 0;
  }
}