<div class="wrapper" [class.load_block]="sel_row.checkLoad()" [ngSwitch]="login">
  <div class="wrapper" *ngSwitchCase="false">
    <div class="header">
      <div class="left">
        <span>
          ИС Предприятия
        </span>
      </div>
      <span class="left">
        Таблица {{title}}
      </span>
      <div class="right">
        <span class="name">{{username}}</span>
        <span class="name">|</span>
        <span (click)="cors.protect()">Сменить пароль</span>
        <span class="name">|</span>
        <span (click)="cors.logOut()">Выйти</span>
      </div>
    </div>
    <div class="container">
      <div class="placeholder">
        <div class="top_line">
          <div class="flex">
            <button class="button1" routerLink="/product" (click)="title = 'продуктов'">
              Продукты
            </button>
            <button class="button1" routerLink="/material" (click)="title = 'материалов'">
              Материал
            </button>
            <button class="button1" routerLink="/user" (click)="title = 'пользователей'">
              Пользователи
            </button>
          </div>
          <div class="flex">
            <button class="button1" (click)="sel_row.fetch()">
              Обновить
            </button>
            <button class="button1" (click)="modal = 0">
              Создать
            </button>
            <button class="button1" *ngIf="sel_row.getRow()" (click)="edit()">
              Редактировать
            </button>
            <button class="button1" *ngIf="sel_row.getRow()" (click)="delete()">
              Удалить
            </button>
          </div>
        </div>
        <div class="template">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" style="background-color: rgb(75, 75, 75);" *ngSwitchCase="true">
    <div class="login modal_wrapper modal1">
      <h2 style="text-align: center;">Авторизация</h2>
      <div class="input">
        <span class="span">Логин</span><input type="text" id="login" #login1>
      </div>
      <div class="input">
        <span class="span">Пароль</span><input type="text" id="password" #password1>
      </div>
      <div class="footer">
        <div class="button1" style="font-size: 16px;"
          (click)="clickLogin({username: login1.value, password: password1.value})">Войти</div>
      </div>
    </div>
  </div>
</div>
<div class="loading" [class.off]="!sel_row.checkLoad()">
  <span>Загрузка</span>
  <span class="one">.</span>
  <span class="two">.</span>
  <span class="tri">.</span>
</div>
<div class="backdrop" *ngIf="modal != -1" (click)="modal = -1" [class.load_block]="sel_row.checkLoad()"></div>
<div class="modal_wrapper" [ngSwitch]="modal" [class.load_block]="sel_row.checkLoad()" *ngIf="modal != -1">
  <create *ngSwitchCase="0" (close)="modal = -1" (mchange)="changeModal($event)"></create>
  <create-material *ngSwitchCase="1" (close)="modal = -1" (mchange)="changeModal($event)"></create-material>
  <create-material *ngSwitchCase="2" [is_edit]="true" (close)="modal = -1"
    (mchange)="changeModal($event)"></create-material>
  <create-product *ngSwitchCase="3" (close)="modal = -1" (mchange)="changeModal($event)"></create-product>
  <create-product *ngSwitchCase="4" [is_edit]="true" (close)="modal = -1"
    (mchange)="changeModal($event)"></create-product>
  <create-user *ngSwitchCase="5" (close)="modal = -1" (mchange)="changeModal($event)"></create-user>
  <create-user *ngSwitchCase="6" [is_edit]="true" (close)="modal = -1" (mchange)="changeModal($event)"></create-user>
</div>