<div class="wrapper">
  <div class="header">
    <div class="left">
      <span>
        ИС Предприятия
      </span>
    </div>
    <span class="left">
      Таблица {{title}}
    </span>
    <div class="right">
      Елисеев Д.А.
    </div>
  </div>
  <div class="container">
    <div class="placeholder">
      <div class="top_line">
        <div class="flex">
          <button class="button1" routerLink="/product" (click)="title = 'продуктов'">
            Продукты
          </button>
          <button class="button1" routerLink="/material" (click)="title = 'материалов'">
            Материал
          </button>
          <button class="button1" routerLink="/user" (click)="title = 'пользователей'">
            Пользователи
          </button>
        </div>
        <div class="flex">
          <button class="button1" (click)="modal = true">
            Создать
          </button>
          <button class="button1">
            Редактировать
          </button>
          <button class="button1">
            Удалить
          </button>
          <button class="button1">
            Войти
          </button>
      </div>
      </div>
      <div class="template">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="backdrop" *ngIf="modal" (click)="modal = false"></div>
<create *ngIf="modal" (close)="modal = false"></create>