<div class="wrapper">
  <div class="header">
    <div class="left">
      ИС Предприятия
    </div>
    <div class="right">
      Елисеев Д.А.
    </div>
  </div>
  <div class="container">
    <div class="placeholder">
      <div class="top_line">
        <div class="flex">
          <button class="button1">
            Продукты
          </button>
          <button class="button1">
            Материал
          </button>
          <button class="button1">
            Пользователи
          </button>
        </div>
        <div class="flex">
          <button class="button1">
          Войти
        </button></div>
      </div>
      <div class="template">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>