<div class="table_container">
    <table>
        <caption *ngIf="title != ''">{{title}}</caption>
        <thead>
            <tr>
                <th *ngFor="let head of header_name">
                    <div class="text">
                        {{head}}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" [class.clickable]="clickable" (click)="clickable? clickRow(item) : 0"
                [class.selected]="item == selected">
                <td *ngFor="let head of header">
                    <div class="text" *ngIf="!date_col.includes(head)">
                        {{item[head]}}
                    </div>
                    <div class="text" *ngIf="date_col.includes(head)">
                        {{item[head] | date:"d.MM.yyyy HH:mm"}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>