@import "../../shared/style/vars.scss";
.wrapper1 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    .product {
       margin-right: 5px;
       width: 300px;
    }
    .product,.material {
        overflow: auto;
    }
    .material {
        width: 100%;
    }
}
