@import "../../shared/style/vars.scss";
.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    .product {
       margin-right: 5px;
       width: 300px;
    }
    .material {
        width: 100%;
        overflow: auto;
        // display: flex;
        // flex: 1 1 auto;
    }
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}